# History files
.Rhistory
# Example code in package build process
*-Ex.R
.Rproj.user
path4098.png
path7038.png
poly.pdf
poly.pdf.2013_11_06_22_34_09.1.svg
poly.png
poly2.png
rich1.png
scratch.R
symbio.pdf
symbio.png
symbio.svg
tapeworm.jpg
test.gif
traj2.pdf
traj2.png
trajectory.pdf
trajectory.png
trajectory.svg
winhost.png
winhost.svg
landdyn.png
landdyn.svg
metadyn.png
metadyn.svg
nest.png
nest.svg
nest.svg.2013_11_06_22_34_09.0.svg
net.pdf
net.png
net.svg
net2.png
net3.png
network.pdf
niche.gif
niche.svg
niche0.png
niche1.png
niche1.svg
niche2.png
niche2.svg
niche3.png
niche3.svg
niche4.png
niche4.svg
niche5.png
niche5.svg
niches.pdf
notes.html
notes.md~
labmeeting.Rpres
labmeeting.html
labmeeting.md
hostdyn.png
hostdyn.svg
interval_sims.R
intervals2.png
.RData
500intervals.csv
R0.eps
R0.pdf
R0.png
R0.svg
Rplot.pdf
cartoon001.png
concep.png
concep.svg
cart2
labmeeting-figure
labmeeting_files
abm.Rproj
results
paper_md
